/* ----------LANDING COMPONENT---------- */

body {
  background-color: #e0e5ec;
  font-family: "Raleway", sans-serif;
}

.tag {
  color: #70adff;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 8px;
  margin: 30px 0 -30px 0;
}

.landing-display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 50px;
}

.current-book {
  /* border: blueviolet solid; */
  color: #1a365c;
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.current-book > h2 {
  font-family: "Sacramento", serif;
  font-size: 55px;
  font-weight: normal;
}

.book-display {
  background-color: #e0e5ec;
  height: 350px;
  width: 350px;
  border-radius: 30px;
  box-shadow: 9px 9px 16px #a1acbb, -9px -9px 16px #fff;
}

.book-display > p {
  margin-top: 280px;
  font-size: 30px;
  letter-spacing: 5px;
}

#book-cover {
  height: 350px;
  box-shadow: -10px -10px 25px #a1acbb;
  z-index: 10;
  margin-bottom: -250px;
}

.meeting-info {
  /* border: cadetblue solid; */
  color: #1a365c;
  font-size: 20px;
  width: 500px;
  margin: 75px 0 0 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.meet-date-time {
  width: 350px;
  height: 230px;
  margin: 20px;
  box-shadow: 9px 9px 20px #a1acbb, -9px -9px 20px #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1px;
  border-radius: 10px;
}

.discussion-leader {
  width: 350px;
  height: 120px;
  margin: 20px;
  box-shadow: 9px 9px 20px #a1acbb, -9px -9px 20px #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1px;
  border-radius: 10px;
}

.next-pick {
  width: 350px;
  height: 120px;
  margin: 20px;
  box-shadow: 9px 9px 20px #a1acbb, -9px -9px 20px #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .landing-display {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
}
