/* ----------HEADER COMPONENT---------- */

.menu-bar {
  width: 100%;
  background-color: #afcaff;
  /* background-color: #303234; */
  color: #1a365c;
  /* color: #fff; */
  font-size: 20px;
  box-shadow: 0 15px 20px #fff;
  /* box-shadow: 9px 9px 16px rgba(73, 73, 73, 0.9); */
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.menu-bar a {
  color: #1a365c;
  text-decoration: none;
  margin: 10px 30px;
}

.menu-bar a:visited {
  color: #1a365c;
}

.menu-bar a:active {
  color: #fff;
}

.sm-menu-wrapper {
  font-family: "Raleway", sans-serif;
  color:#1a365c;
  font-weight: 700;
  margin-right: 40px;
  height: 80px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 10px 10px 15px #a0bfff, -10px -10px 15px #bdd2ff;
  /* box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4), -9px -9px 16px rgba(73, 73, 73, 0.4); */
  /* border-radius: 50% 60% / 100% 0%;  */
}

/* .sm-menu-wrapper:hover {
  background-color: #afcaff;
  box-shadow: inset 10px 10px 15px #a0bfff, inset -10px -10px 15px #bdd2ff;
} */

.sm-menu-wrapper:hover {
  background-color: #afcaff;
  /* background-color: #303234; */
  box-shadow: inset 10px 10px 15px #a0bfff, inset -10px -10px 15px #bdd2ff;
  /* box-shadow: 9px 9px 16px rgba(73, 73, 73, 0.4), -9px -9px 16px rgba(0, 0, 0, 0.4); */
}

.title {
  width: fit-content;
  font-family: "Sacramento", serif;
  color: #1a365c;
  /* color: #fff; */
  display: block;
  font-size: 45px;
  text-align: left;
  padding: 20px;
  margin: 0;
}

#menu-icon {
  background-color: #70adff;
  height: 20px;
  margin-right: 6px;
}

/* 
.login {
  color: #fff;
  font-weight: bold;
  background-color: #afcaff;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #93b9ff, -5px -5px 10px #C9DCFF;

  display: flex;
  justify-content: center;
  align-items: center;
} */

@media (max-width: 500px) {
  .menu-bar {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 
font-family: 'Sacramento', serif;
font-family: 'Raleway', sans-serif; 
*/
