.history-main {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.prev-book-display {
  /* border: solid salmon 3px; */
  margin: 30px;
}

#prev-book-cover {
  width: 200px;
}

.prev-book-info {
  font-family: "Raleway", sans-serif;
  /* color: #1a365c; */
  color: #70adff;
  /* background-color: #e0e5ec; */
  background-color: #303234;
  margin: -150px 0 50px 0;
  height: 250px;
  width: 250px;
  border-radius: 30px;
  /* box-shadow: 9px 9px 16px #a1acbb, -9px -9px 16px #fff; */
  box-shadow: 9px 9px 16px rgba(73, 73, 73, 0.4), -9px -9px 16px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: space-around;
}

.book-month {
    font-weight: bold;
}

/* .book-selector {
} */