.history-main {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.prev-book-display {
  border: solid salmon 3px;
  margin: 50px;
}

#prev-book-cover {
  width: 200px;
}

.prev-book-info {
  font-family: "Raleway", sans-serif;
  color: #1a365c;
  background-color: #e0e5ec;
  margin: -150px 0;
  height: 250px;
  width: 250px;
  border-radius: 30px;
  box-shadow: 9px 9px 16px #a1acbb, -9px -9px 16px #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: space-around;
}

.book-month {
    font-weight: bold;
}

.book-selector {
}